$sidenav-item-color: rgb(255, 248, 224);
$sidenav-item-height: 2.7rem;
$sidenav-item-font-size: 0.9rem;
$sidenav-wide-width: 200px;
$sidenav-narrow-width: 50px;
$toolbar-height: 64px;

mat-toolbar {
  position: fixed;
  border-bottom: 1px solid grey;
  box-shadow: 3px 1px 2px #0000008c;
  justify-content: space-between;
  height: $toolbar-height !important;
  z-index: 2;
}

[mat-button] {
  cursor: pointer;
}

.notification-icon {
  font-size: 2.1rem;
  margin-right: 2rem;
  margin-top: 5px;
}

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.user-items {
  display: flex;
  margin-right: 1rem;
}

.sidenav-container {
  //   border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #001933;
  // position: fixed;
  height: 100%;
  width: $sidenav-narrow-width;
  transition: width 0.5s;
  box-shadow: 3px 1px 2px #0000008c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  // padding-top: calc(#{$toolbar-height} + 0.8rem);
  padding-top: 0.8rem;
  z-index: 1;

  span {
    color: $sidenav-item-color;
  }

  .sidenav {
    width: 0px;
  }
  
  .expand-btn {
    width: 10rem;
  }
  
  mat-icon.mat-icon-sidenav {
    color: $sidenav-item-color;
    font-size: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .sidenav-item > span {
    font-size: $sidenav-item-font-size;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .sidenav-item {
    border-bottom: 1px white solid;
  }

  .sidenav-item ~ .sidenav-item {
    border-bottom: none;
  }

  div.sidenav-item {
    display: flex;
    height: $sidenav-item-height;
    cursor: pointer;
  }
  
  .sidenav-item {
    cursor: pointer;
  }
}

hr {
  border: 2px solid white;
  border-radius: 1px;
}

.sidenav-wide {
  width: $sidenav-wide-width !important;
  transition: width 0.5s;
  display: flex;
  align-items: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
}

.sidenav-wide-item {
  font-size: 1.5rem;
}

.below-toolbar {
  display: flex;
  width: 100%;
  // height: calc(100vh - $toolbar-height);
  height: 100%;
  flex-direction: row;
  padding-top: $toolbar-height;

  .main-content {
    background: rgb(240, 240, 233);
    z-index: 0;
  }

  .draggable {
    color: $sidenav-item-color;
    height: calc(#{$sidenav-item-height} - 0.5rem);
  }

  // .dashboard-container {
  //   margin-top: $toolbar-height;
  // }
}