<!-- <button type="button" mat-button (click)="showWide = !showWide">
    Toggle sidenav
</button> -->
<!-- <div class="h-100 w-100" style="overflow-y: hidden;"> -->
<mat-toolbar color="grey" class="d-flex">
    <mat-icon mat-button (click)="showWideEvent();">menu</mat-icon>
    <div class="user-items">

        <mat-icon matBadge="15" matBadgeSize="medium" matBadgeColor="warn" color="black" class="notification-icon">
            notifications_none</mat-icon>

        <img class="user-img" src="https://mercury-pm-images.s3.amazonaws.com/images/0.jpg" onerror="this.src='assets/img/profile.png'" mat-button
            [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
</mat-toolbar>
<div class="below-toolbar">
    <div class="sidenav-container" [ngClass]="{'sidenav-wide': showWide}">
        <div class="sidenav-item"  *ngIf="!dashboardMode"  routerLink="home">
            <mat-icon class="mat-icon-sidenav" [ngClass]="{'sidenav-wide-item': showWide}">
                home</mat-icon>
            <span *ngIf="showWideSpan" class="sidebar_home">Home</span>
        </div>
        <div class="sidenav-item"  *ngIf="dashboardMode">
            <mat-icon class="mat-icon-sidenav" [ngClass]="{'sidenav-wide-item': showWide}"
                (click)="dashboardMode = false">
                arrow_back</mat-icon>
            <span *ngIf="showWideSpan" class="sidebar_home">Back</span>
        </div>

        <!-- side bar items -->
        <ng-container *ngIf="!dashboardMode">
            <div class="sidenav-item mt-3" (click)="openDashboard()" routerLink="dashboard">
                <mat-icon class="mat-icon-sidenav" [ngClass]="{'sidenav-wide-item': showWide}">
                    dashboard</mat-icon>
                <span *ngIf="showWideSpan">Dashboard</span>
            </div>
        </ng-container>

        <ng-container *ngIf="!dashboardMode">
            <div class="sidenav-item mt-3" routerLink="user-admin">
                <mat-icon class="mat-icon-sidenav" [ngClass]="{'sidenav-wide-item': showWide}">
                    supervised_user_circle</mat-icon>
                <span *ngIf="showWideSpan">User Admin</span>
            </div>
        </ng-container>

        <!-- dashboard items -->
        <ng-container *ngIf="dashboardMode && showWideSpan">
            <div class="draggable mt-3" (click)="dmService.dropItem('heatmap')" draggable="true" (dragend)="dmService.dropItem('heatmap')">
                Heat Map
            </div>
            <div class="draggable" (click)="dmService.dropItem('agentState')" draggable="true" (dragend)="dmService.dropItem('agentState')">
                Current Agent State
            </div>
        </ng-container>
    </div>
    <div class="w-100 h-100 main-content dashboard-container">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- </div> -->