$sidenav-item-color: rgb(255, 248, 224);

mat-toolbar {
  border-bottom: 1px solid grey;
  box-shadow: 3px 1px 2px #0000008c;
  justify-content: space-between;
}

[mat-button] {
  cursor: pointer;
}

.notification-icon {
  font-size: 2.1rem;
  margin-right: 2rem;
  margin-top: 5px;
}

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.user-items {
  display: flex;
  margin-right: 1rem;
}

.sidenav-container {
  //   border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #001933;
  position: fixed;
  height: 100%;
  width: 50px;
  transition: width 0.5s;
  box-shadow: 3px 1px 2px #0000008c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 0.8rem;

  span {
    color: $sidenav-item-color;
  }
}

.sidenav-wide {
  width: 180px !important;
  transition: width 0.5s;
  display: flex;
  align-items: flex-start;
  padding-left: 3rem;
}

.sidenav-container > div {
  display: flex;
  height: 2.5rem;
}

.sidenav-container > div > span {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.sidenav-wide-item {
  font-size: 1.5rem;
}

.sidenav {
  width: 0px;
}

.expand-btn {
  width: 10rem;
}

mat-icon.mat-icon-sidenav {
  color: $sidenav-item-color;
  font-size: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}