<div class="w-100 h-100 p-3">
    <button *ngIf="currentUser.roles && currentUser.roles[0] && currentUser.roles[0].roleName == 'ADMIN'" class="add_user_btn" (click)="addUserDialog($event)">
        <img class="w-75" src="https://mercury-pm-images.s3.amazonaws.com/icons/add-user-256x256.png"/>
    </button>
    <div class="export_container">
        <button mat-fab (click)="exportCSV()" color="warn">CSV</button>
    </div>
    <div class="active_filter_container">
        <mat-checkbox color="primary" (change)="onActiveFilterChange($event)">Include Inactive</mat-checkbox>
    </div>
    <div class="w-100 h-100 ag-table" >
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material"
            [columnDefs]="columnDefs"
            (gridReady)="onGridReady($event)" 
            [rowData]="userList"
            [getRowHeight]="getRowHeight"
            (cellClicked)='onCellClicked($event)'
            [animateRows]="true" #agGrid>
        </ag-grid-angular>
    </div>
</div>