<div class="w-100 h-100 p-3">
    <button class="add_user_btn" (click)="addUserDialog($event)">
        <img class="w-75" src="https://mercury-pm-images.s3.amazonaws.com/icons/add-user-256x256.png"/>
    </button>
    <div class="active_filter_container">
        <mat-checkbox color="primary" (change)="onActiveFilterChange($event)">Include Inactive</mat-checkbox>
    </div>
    <div class="w-100 h-100 ag-table" >
        <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="data"  class="ag-theme-material"
            [columnDefs]="columnDefs"
            (gridReady)="onGridReady($event)" 
            [rowData]="userList"
            [getRowHeight]="getRowHeight"
            (cellClicked)='onCellClicked($event)'
            [animateRows]="true" #agGrid>
        </ag-grid-angular>
    </div>
</div>