.ag-table {
  border: 3px #EEE solid;
  box-shadow: 3px 3px 2px grey;
  // border-radius: 1rem;
}

.active_filter_container {
  position: fixed;
  top: 28%;
  right: 3%;
  z-index: 10;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 0.5rem;
  // border: 1px grey solid;
  // box-shadow: 2px 2px 2px grey;
  // color: white
}

.active_filter_container:hover {
  // box-shadow: 3px 3px 3px black;
  text-shadow: 1px 1px 1px grey;
}

button.add_user_btn {
  position: fixed;
  top: 18%;
  right: 5%;
  width: 4rem;
  height: 4rem;
  box-shadow: 2px 2px 2px grey;
  z-index: 10;
  background-color: #008eeca9;
}

button.add_user_btn:hover {
  background-color: #0067acad;
  box-shadow: 3px 3px 3px black;
}

:host ::ng-deep .ag-root {
  // padding-top:20px

  .name_cell:hover {
    font-weight: bold;
  }

  .profile_image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 1px grey;
  }

  .profile_image {
    box-shadow: 1px 1px 1px grey;
  }

  .profile_image:hover {
    box-shadow: 1px 1px 2px black;
  }

  .ag-theme-material .ag-cell {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

}
