<div class="w-100 h-100 d-flex flex-column">
  <div class="w-100 d-flex align-items-center justify-content-between">
    <span class="dialog_title">Add User</span>
    <mat-icon class="exit_icon" (click)="closeDialog()">close</mat-icon>
  </div>
  <mat-horizontal-stepper class="w-100 h-100" linear="true" #stepper>
    <mat-step [stepControl]="userForm" class="d-flex flex-column w-100 h-100">
      <form [formGroup]="userForm" class="d-flex flex-column w-100 h-100" (ngSubmit)="submitUser(userForm)">
        <ng-template matStepLabel>User Info</ng-template>
        <mat-form-field class="w-100">
          <input matInput placeholder="Username" formControlName="username" type="text" />
        </mat-form-field>
        <mat-error *ngIf="userForm.get('username').hasError('minlength')">Username must have a minimum length of 6.</mat-error>

        <div fxLayout="column" formGroupName="passwords">
          <mat-form-field class="w-100">
            <input placeholder="Password" matInput formControlName="p1" type="password" />
          </mat-form-field>
          <mat-error *ngIf="!passwords.pristine && passwords.hasError('minlength')">Password must have a minimum length of 6!</mat-error>
          <mat-form-field class="w-100">
            <input placeholder="Confirm Password" matInput formControlName="p2" type="password" />
          </mat-form-field>
          <mat-error>{{userForm.get('passwords').getError('passwordsNotMatch')}}</mat-error>
          <div class="d-flex flex-row">
            <button class="reset_btn" type="button" (click)="resetUser($event)" mat-button color="primary">Reset</button>
            <button class="submit_btn" type="submit" [disabled]="userForm.invalid" mat-raised-button
              color="primary">Submit</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="userInfoForm" class="d-flex flex-column w-100 h-100">
      <ng-template matStepLabel>User Details</ng-template>
      <form [formGroup]="userInfoForm" class="d-flex flex-column w-100 h-100" (ngSubmit)="submitUserInfo(userInfoForm)">
        <mat-form-field class="w-100">
          <input matInput placeholder="First Name" formControlName="firstName" type="text" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Last Name" formControlName="lastName" type="text" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" formControlName="email" type="email" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea matInput placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="desc"></textarea>
        </mat-form-field>
        <div class="d-flex flex-row">
          <button class="reset_btn" type="button" (click)="resetUserInfo($event)" mat-button color="primary">Reset</button>
          <button class="submit_btn" type="submit" [disabled]="userInfoForm.invalid" mat-raised-button
            color="primary">Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="groupRoleForm" class="d-flex flex-column w-100 h-100">
      <form [formGroup]="groupRoleForm" class="d-flex flex-column w-100 h-100"
        (ngSubmit)="submitGroupRole(groupRoleForm)">
        <ng-template matStepLabel>Role & Group</ng-template>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" [placeholder]="profileForEdit">
            <mat-option *ngFor="let el of roleList" [value]="el">{{el.roleName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Group Level</mat-label>
          <mat-select formControlName="groupLevel" (change)="onGroupLevelChange($event)" [placeholder]="profileForEdit">
            <mat-option *ngFor="let el of groupLevelList" [value]="el">{{el.groupLevel}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Group</mat-label>
          <mat-select formControlName="group" [placeholder]="">
            <ng-container *ngFor="let el of groupListDisplay">
              <mat-option [value]="el">{{el.groupName}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="d-flex flex-row">
          <button class="reset_btn" (click)="groupRoleForm($event)" mat-button color="primary">Reset</button>
          <button class="submit_btn" type="submit" [disabled]="groupRoleForm.invalid && user" mat-raised-button
            color="primary">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>