:host {
  padding: 0;
}

.header_container {
  height: 2rem;
}

.container_container {
  height: 95%;

  .meeting_container {
    flex: 1 0 0;
    border: 1px grey solid;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px grey;
    margin: 1rem;
    padding: 0.5rem;

    .meeting_entry {
      padding-left: 2rem;
      padding-right: 2rem;
      box-shadow: 1px 1px 1px rgb(167, 166, 166);
      border-radius: 0.5rem;
      background: rgb(248, 248, 248);
      align-items: center;
      height: 3rem;

      .arrow_icon {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin-right: 1rem;
      }
    }

    .meeting_entry:hover {
      box-shadow: 1px 1px 2px grey;
    }

    .meeting_attendee {
      padding-left: 5rem;
      padding-right: 2rem;
      height: 4rem;
      border-bottom: 1px solid #EEE;

      .profile_image {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 1px grey;
        margin-right: 1rem;
      }

      .profile_image:hover {
        box-shadow: 1px 1px 2px black;
      }
    }
  }

  .meeting_container:hover {
    box-shadow: 3px 3px 3px black;
  }
}

::ng-deep .decision_btn {
  width: 6rem;
  box-shadow: 2px 2px 2px grey;
}

::ng-deep .decision_btn:hover {
  box-shadow: 2px 2px 3px black;
}