<div class="header_container">
  <h2>{{data.date.toLocaleDateString()}}</h2>
</div>
<div class="d-flex flex-column w-100 container_container">
  <div class="meeting_container">
    <div class="d-flex flex-column" *ngFor="let el of owned; let i = index">
      <div class="d-flex flex-row">
        <div>
          {{el.meetingTitle}}
        </div>
        <div>
          {{el.date}}
        </div>
        <div>
          {{el.time}}
        </div>
        <div>
          {{el.meetingMemo}}
        </div>
        <div>
          <button type="button">Cancel</button>
        </div>
      </div>
      <div *ngFor="let at of el.attendees" class="d-flex flex-row">
        <div>
          {{at.firstName + at.lastName}}
        </div>
        <div>
          {{at.email}}
        </div>
        <div>
          <img class="profile_image" [src]="at.image">
        </div>
      </div>
    </div>
  </div>
  <div class="meeting_container">

  </div>
</div>