<div class="header_container pl-3 pr-3 mb-1">
  <div>
    <span><b>Date: </b></span><span class="ml-2">{{data.date.toLocaleDateString()}}</span>
  </div>
  <div>
    <button class="decision_btn w-100" mat-raised-button color="primary" (click)="initiateMeeting()" type="button">Organize a meeting</button>
  </div>
</div>
<div class="d-flex flex-column w-100 container_container">
  <div class="meeting_container">
    <div class="d-flex flex-column mb-1" *ngFor="let el of owned; let i = index">
      <div *ngIf="!el.meetingCancelled" class="d-flex flex-row justify-content-between meeting_entry">
        <div (click)="toggleAttendees(i)"  class="small_div">
          <img *ngIf="showAttendees !== i" class="arrow_icon" src="assets/img/arrow_next.png">
          <img *ngIf="showAttendees === i" class="arrow_icon" src="assets/img/arrow_down.png">
          <span>
            {{el.meetingTitle}}
          </span>
        </div>
        <div class="small_div">
          {{el.date}}
        </div>
        <div class="small_div">
          {{el.time}}
        </div>
        <div class="small_div" [title]="el.meetingMemo">
          {{el.meetingMemo}}
        </div>
        <div>
          <button *ngIf="el.active" class="decision_btn" mat-raised-button color="warn" (click)="cancelMeeting($event, el)" type="button">Cancel</button>
          <span *ngIf="!el.active">Cancelled</span>
        </div>
      </div>
      <ng-container *ngIf="showAttendees === i">
        <div *ngFor="let at of el.attendees" class="d-flex align-items-center flex-row meeting_attendee">
          <div class="small_div">
            <img class="profile_image" [src]="at.image">
            <span>
              {{at.firstName + " " + at.lastName}}
            </span>
          </div>
          <div class="small_div">
            {{at.email}}
          </div>
          <div class="small_div" [ngClass]="{'not_going': at.result == 2, 'going': at.result == 1}">
            {{at.decision}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="meeting_container">
    <div class="d-flex flex-column mb-1" *ngFor="let el of attending; let i = index">
      <div class="d-flex flex-row justify-content-between meeting_entry">
        <div (click)="toggleInitiator(i)" class="small_div">
          <img *ngIf="showAttendees !== i" class="arrow_icon" src="assets/img/arrow_next.png">
          <img *ngIf="showAttendees === i" class="arrow_icon" src="assets/img/arrow_down.png">
          <span>
            {{el.meetingTitle}}
          </span>
        </div>
        <div  class="small_div">
          {{el.date}}
        </div>
        <div class="small_div">
          {{el.time}}
        </div>
        <div class="small_div" >
          {{el.meetingMemo}}
        </div>
        <div>
          <div *ngIf="el.result == 0">
            <button class="decision_btn" (click)="going($event, el)" mat-raised-button color="primary">Going</button>
            <button class="decision_btn ml-2" (click)="notGoing($event, el)"  mat-raised-button color="warn">Not Going</button>
          </div>
          <div *ngIf="el.result != 0" [ngClass]="{'not_going': el.result == 2, 'going': el.result == 1}">
            <span>{{el.decision}}</span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="showInitiator === i">
        <div *ngFor="let at of el.attendees" class="d-flex flex-row align-items-center meeting_attendee">
          <div class="small_div">
            <img class="profile_image" [src]="at.image">
            <span>
              {{at.firstName + " " + at.lastName}}
            </span>
          </div>
          <div class="small_div">
            {{at.email}}
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>