.option-img {
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}

mat-form-field {
  padding: 0 2rem 0 2rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px grey;
}

mat-form-field:hover {
  box-shadow: 1px 1px 2px black;
}

button {
  flex: 1 0 0;
  margin: 0 3rem 0 3rem;
  box-shadow: 2px 2px 2px grey;
}

button:hover {
  box-shadow: 2px 2px 3px black;
}

.input_container {
  overflow-y: auto;
  padding: 0 3rem 0 3rem;
}

::ng-deep div {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
}
