<div class="w-100 h-100">
  <button mat-fab color="primary" (click)="addAttendee()">Add Attendee</button>
  <mat-form-field class="w-100" *ngFor="let su of selectedUsers">
    <input class="attendee_input" matInput placeholder="Name" aria-label="Name" 
        [matAutocomplete]="auto"
        [formControl]="stateCtrl"
        [value]="su">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of filteredStates | async" 
      [value]="user.username"
      >
          <img class="option-img" aria-hidden [src]="user.userInfo.profileImage" height="25">
          <span>{{user.username}}</span> |
          <small>Group Level: {{user.group.groupLevelInfo.groupLevelName}}</small>
          <small>Group: {{user.group.groupName}}</small>
          <small>email: {{user.email}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-fab color="primary" (click)="submit()">Submit</button>
</div>
