<div class="w-100 h-100 d-flex justify-content-center">
  <div class="w-100 h-100 d-flex flex-column pb-3">
    <div class="w-100 d-flex flex-row mt-2 mb-2">
      <button mat-raised-button color="accent" (click)="addAttendee()">Add Attendee</button>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
    <div class="input_container">
      
      <mat-form-field class="w-100 mt-3" *ngFor="let su of selectedUsers">
        <input class="attendee_input" matInput placeholder="Name" aria-label="Name" 
            [matAutocomplete]="auto"
            [formControl]="stateCtrl"
            [value]="su">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredStates | async" 
          [value]="user.username"
          >
              <img class="option-img" aria-hidden [src]="user.userInfo.profileImage" height="25">
              <span>{{user.username}} | </span>
              <small class="ml-1">Group Level: {{user.group.groupLevelInfo.groupLevelName}} | </small>
              <small class="ml-1">Group: {{user.group.groupName}} | </small>
              <small class="ml-1">email: {{user.userInfo.email}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
